src/*.o
src/*.lo
src/*.la
src/.deps
src/.libs
test-suite.log
test/*.sh.trs
test/*.sh.log
config.h
config.log
config.status
libtool
src/Makefile
Makefile
stamp-h1
sqlite3ext_geomag-*.tar.gz
configure-example-*.sh
build
lib

